{% extends 'base.html.twig' %}

{% block title %}InvoiceLine index{% endblock %}

{% block body %}
    <h1>InvoiceLine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Vat_amount</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice_line in invoice_lines %}
            <tr>
                <td>{{ invoice_line.id }}</td>
                <td>{{ invoice_line.description }}</td>
                <td>{{ invoice_line.quantity }}</td>
                <td>{{ invoice_line.amount }}</td>
                <td>{{ invoice_line.vatAmount }}</td>
                <td>{{ invoice_line.total }}</td>
                <td>
                    <a href="{{ path('app_invoice_line_show', {'id': invoice_line.id}) }}">show</a>
                    <a href="{{ path('app_invoice_line_edit', {'id': invoice_line.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_invoice_line_new') }}">Create new</a>
{% endblock %}
